*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	margin: 80px;
}

.board-row {
	display: flex;
	flex-flow: row nowrap;
}

.square {
	width: 80px;
	height: 80px;
	border: 1px solid black;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: hsl(10, 59%, 31%);
	border: 4px solid;
	border-left-color: hsl(10, 59%, 44%);
	border-top-color: hsl(10, 59%, 44%);
	border-right-color: hsl(10, 59%, 19%);
	border-bottom-color: hsl(10, 59%, 19%);
}
