:root {
	--font-size-xl: 3rem;
	--font-size-large: 2rem;
	--font-size-base: 1.375rem;

	--text-color-dark: hsl(10, 26%, 21%);
	--text-color-accent: hsl(10, 26%, 56%);

	--background-color-page: hsl(9, 27%, 86%);
	--background-color-board: hsl(10, 26%, 68%);

	--chocolate-color: hsl(10, 59%, 31%);
	--chocolate-color-light: hsl(10, 59%, 44%);
	--chocolate-color-dark: hsl(10, 59%, 19%);

	--player-one-color: hsl(179, 100%, 34%);
	--player-one-color-light: hsl(179, 50%, 80%);
	--player-two-color: hsl(6, 90%, 64%);
	--player-two-color-light: hsl(6, 90%, 85%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: var(--background-color-page);
}

#root {
	width: min(800px, 100vw);
	height: 100vh;
	height: 100dvh;
	margin-inline: auto;
	display: flex;
	flex-flow: column nowrap;
}

#header {
	height: min-content;
	border: 5px double var(--text-color-accent);
	border-top: none;
	padding-block: 1rem;
	text-align: center;
}

#game {
	height: calc(7 * min(80px, 15vmin) + 3rem);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#rules {
	padding: 1rem;
	border: 5px double var(--text-color-accent);
}

#rules > h2 {
	font-size: var(--font-size-large);
	text-align: center;
}

#rules ol {
	color: var(--text-color-dark);
	margin-top: 1rem;
	padding-left: 1.125rem;
}

#rules li::marker {
	font-family: "Lilita One";
	/* font-weight: bold; */
	color: var(--text-color-accent);
}

#rules li {
	font-size: var(--font-size-base);
	line-height: 1.75;
	padding-left: 0.5rem;
}

h1,
h2 {
	font-family: "Lilita One";
	color: var(--text-color-accent);
}

h1 {
	font-size: var(--font-size-xl);
}

#nextTurnIndicator {
	font-size: var(--font-size-base);
	width: fit-content;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 8px;
	color: white;
}

#nextTurnIndicator.player-one {
	background-color: var(--player-one-color);
}

#nextTurnIndicator.player-two {
	background-color: var(--player-two-color);
}

#board {
	width: max(min-content, 300px);
	height: max(min-content, 300px);
	background-color: var(--background-color-board);
	box-shadow: inset 0 0 8px var(--chocolate-color-dark);
	position: relative;
	/* border: 2px solid;
	border-left-color: hsl(10, 59%, 19%);
	border-top-color: hsl(10, 59%, 19%);
	border-right-color: hsl(10, 59%, 19%);
	border-bottom-color: hsl(10, 59%, 19%); */
}

.board-row {
	display: flex;
	flex-flow: row nowrap;
}

.square {
	width: min(80px, 15vmin);
	height: min(80px, 15vmin);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--chocolate-color);
	/* background-color: rgb(8, 10, 10); */
	border: 4px solid;
	border-left-color: var(--chocolate-color-light);
	border-top-color: var(--chocolate-color-light);
	border-right-color: var(--chocolate-color-dark);
	border-bottom-color: var(--chocolate-color-dark);
}

.chomped {
	visibility: hidden;
}

.player-one.board-row .square.blast-zone {
	background-color: var(--player-one-color-light);
}
.player-one.board-row .square:hover {
	background-color: var(--player-one-color);
}

.player-two.board-row .square.blast-zone {
	background-color: var(--player-two-color-light);
}

.player-two.board-row .square:hover {
	background-color: var(--player-two-color);
}

.square i {
	color: white;
	/* color: hsl(10, 59%, 9%); */
}

#helpDialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999; /* Adjust the z-index as needed to ensure the modal appears above other content */
}

.help-content {
	width: 600px;
	height: 80%;
	color: var(--text-color-dark);
	font-size: var(--font-size-base);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.help-content li {
	margin-left: 1rem;
	margin-bottom: 1.5rem;
}

#nextGameButtons {
	position: absolute; /* Position the buttons relative to the container */
	text-align: center; /* Center the buttons horizontally */
	top: 50%; /* Position the buttons 50% down from the top of the container */
	left: 50%; /* Position the buttons 50% from the left of the container */
	transform: translate(-50%, -50%); /* Center the buttons perfectly */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

button {
	width: calc(2 * min(80px, 15vmin) - 10px);
	height: calc(min(80px, 15vmin) - 11px);
	/* margin-top: 10px;
	margin-right: 20px; */
	font-size: var(--font-size-base);
	background-color: var(--chocolate-color);
	border: 4px solid;
	border-left-color: var(--chocolate-color-light);
	border-top-color: var(--chocolate-color-light);
	border-right-color: var(--chocolate-color-dark);
	border-bottom-color: var(--chocolate-color-dark);
	color: white;
	border-radius: 8px;
	cursor: pointer;
}

.close-button {
	font-size: var(--font-size-base);
}
